h1 { background-color: black;
    width: 100%;
    font-size: 180%;
    font-family: sans-serif;
    color: azure;
    text-decoration: none;
    margin: 0;
    padding: 0.9% 1.5%;

}

.full-name { color: azure;
    text-decoration: none;
    font-size: 30px;
    padding:  0px 195px 0px 0px;
    letter-spacing: 2px;

  
}

.full-name:hover{ color: rgb(9, 179, 17);
}

.about-me { color: azure;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    border: 2px solid azure;
    letter-spacing: 2px; 
    border-radius: 11px;
    padding: 5px;
}

.about-me:hover{ color: rgb(9, 179, 17);
                display: inline-block;
}

.my-skills{ color: azure;
    text-decoration: none;
    font-size: 15px;
    padding:5px;
    display: inline-block;
    letter-spacing: 2px;
    border: 2px solid azure;
    border-radius: 11px;

}

.my-skills:hover{ color: gold;
}

.contact-me{ color: azure;
    text-decoration: none;
    font-size: 15px;
    padding:5px;
    display: inline-block;
    letter-spacing: 2px;
    border: 2px solid azure;
    border-radius: 11px;
}

.contact-me:hover{ color: crimson;
}

body { margin: 0%;
}